/* .young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

/* .outfit-<uniquifier> {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary-background: #f3e5d8;
  --secondary-background: #ffffff;

  --title-font: "Young Serif", serif;
  --title-color: hsl(14, 45%, 36%);

  --time-color: hsl(332, 51%, 32%);
  --time-background-color: #fff7fc;
  
  --text-font: "Outfit", sans-serif;
  --text-font-size: "16px";
}

body {
  background-color: var(--primary-background);
  display: flex;
  justify-content: center;
  line-height: 1.5;

h3 {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 2em;
    padding: 1em 0 1em 0;
  }

li {
  padding: 0.5em 0.5em 0 0.5em;
  margin-left: 1.5em;
  font-family: var(--text-font);
  font-size: var(--text-font-size);
}

p {
  font-family: var(--text-font);
  font-size: var(--text-font-size);
}

strong {
  font-weight: 600;
}

  .recipe_global {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background);
    width: 51vw;
    border-radius: 10px;
    padding: 2em;
    margin: 5em;
    
    header {
      p {
        font-family: var(--text-font);
        font-size: var(--text-font-size);
      
        img {
          width: 51vw;
          border-radius: 8px;
        }
      }

      h1 {
        font-family: var(--title-font);
        font-weight: 400;
        font-style: normal;
        padding: 1em;
        font-size: 2.5em;
      }
    }

    .preparation_time {
      padding: 2em 0 2em 1em;

      h2 {
        color: var(--time-color);
        padding: 1em 0 1em 0;
        font-family: var(--title-font);
        font-size: 1.5em;
      }
    }

    .Nutrition {

      table {
        padding-top: 1.5em;
      }
      td {
        padding: 1em;

        span {
          color: var(--title-color);
          font-weight: 800;
          padding-left: 5em;
        }
      }
    }
  footer {
    padding-top: 5em;
  }
  }
}

